body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
a {
    text-decoration: none;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.pages-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

address {
    font-style: normal;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-header {
    padding: 24px 0;
    margin-right: 76px;
}

.logo-header .weblogo {
    color: #2e2f42;
}

.logo-footer .weblogo {
    color: #f4f4fd;
}

.header-navigation {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navigation-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.navigation-link.current {
    position: relative;
}

.navigation-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.list-contacts {
    display: flex;
    align-items: center;
    gap: 40px;
}

.link-contacts {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link:hover,
.navigation-link:focus,
.link-contacts:hover,
.link-contacts:focus,
.navigation-link.current {
    color: #404bbf;
}

.hero {
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url("../images/peopleofficeS1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        max-width: 1440px;
        margin: 0 auto;
}

.hero-wrapper {
    display: block;
    text-align: center;
}

.hero-title {
    color: #ffffff;
    text-align: center;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    font-weight: 700;
    margin: 0 auto;
    margin-bottom: 48px;
    max-width: 496px;
}

.hero-button {
    background-color: #4d5ae5;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

.features-icon-wrap {
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 8px;
}

.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-list {
    display: flex;
    gap: 24px;
}

.features-item {
    width: calc((100% - 72px) / 4);
}

.features-subtitle {
    margin-bottom: 8px;
}

.social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
}

.social-list .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon {
    fill: #f4f4fd;
    width: 16px;
    height: 16px;
}

.link:hover,
.link:focus {
    background-color: #404bbf;
}

.team-section {
    padding: 120px 0;
}

.team-list {
    display: flex;
    gap: 24px;
    align-items: center;
}

.team-item {
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    width: calc((100% - 72px) / 4);
    background: #FFFFFF;
}

.team-text {
    padding-bottom: 72px;
}

.image-container {
    padding: 32px 16px;
    text-align: center;
}

.item-name {
    padding-bottom: 8px;
}

.team-section {
    background-color: #f4f4fd;
}

.team-section h2 {
    text-align: center;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
}

.team ul li {
    background-color: #ffffff;
}

.team ul h3,
.team ul p {
    text-align: center;
}

.portfolio-section {
    padding: 120px 0;
}

.post-subtitle {
    padding-bottom: 72px;
    text-align: center;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    font-weight: 700;
}


.portfolio-post {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-list {
    width: calc((100% - 48px) / 3);
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-list:hover .text-hover {
    transform: translateY(0);
}

.container-img {
    position: relative;
    overflow: hidden;
    display: block;
    max-width: 100%;
}
.text-hover {
    position: absolute;
    top: 0;
    padding: 40px 32px 164px 32px;
    font-weight: 400;
    font-size: 16px;

    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    height: 100%;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
}

.img-port-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    box-sizing: border-box;
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}

footer {
    color: #f4f4fd;
    background-color: #2e2f42;
    padding: 100px 0;
}


.footer-container {
    display: flex;
    flex-direction: column;
}

.text-footer {
    max-width: 264px;
}

.logo-footer {
    margin-bottom: 16px;
}

.footer-content {
    display: flex;
    gap: 120px;
    align-items: baseline
}

.footer-icon-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.footer-icon-list .social-icon-link {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
    fill: #f4f4fd;
}

.footer-media-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding-bottom: 16px;
}

.footer-icon-list .social-icon-link:hover {
    background-color: #31d0aa;
}

.footer-icon-list .social-icon-link:focus {
    background-color: #31d0aa;
}

.footer-media-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    padding-bottom: 16px;
}

.footer-form-container {
    margin-left: auto;
    justify-content: center;
}

.footer-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-button {
    box-sizing: border-box;
    flex-shrink: 0;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 169px;
    height: 40px;
    background-color: #4d5ae5;
    gap: 16px;
    cursor: pointer;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover,
.footer-button:focus {
    background-color: #31d0aa;
}

.footer-input {
    margin-right: 24px;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: transparent;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding-left: 16px;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-form-container .footer-input:hover,
.footer-form-container .footer-input:focus {
    border: 1px solid #31d0aa;
}

h3 {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
h2 {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}



.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
     visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    transform: translate(-50%,-50%);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
}

.backdrop:not(.is-open) .model {
    transform: translate(-50%, -50%);
}

.modal-close-button {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 24px;
    right: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
    background-color: #404bbf;
    cursor: pointer;
}

.modal-close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover .modal-close-icon,
.modal-close-button:focus .modal-close-icon {
    fill: #ffffff;
}

.modal-field {
    margin-top: 8px;
    padding-left: 16px;
    padding-right: 32px;
}

.modal-input-wrapper {
    position: relative;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    max-width: 360px;
    margin-bottom: 16px;
}

.modal-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    padding-left: 38px;
    padding-right: 16px;
    outline: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon {
    position: absolute;
    left: 19px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-input:hover,
.modal-textarea:focus,
.modal-textarea:hover {
    border-color: #4d5ae5;
}

.modal-input:focus+.input-icon,
.modal-input:hover+.input-icon {
    fill: #4d5ae5;
}

.modal-textarea {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-textarea:focus::placeholder,
.modal-textarea:hover::placeholder {
    color: #4d5ae5;
}

.modal-button {
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    background-color: #4d5ae5;
    cursor: pointer;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
    background-color: #404bbf;
}

.form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal-field-privacy {
    margin-top: 16px;
    margin-bottom: 24px;
}

.custom-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    fill: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
}

.modal-checkbox:checked+.form-label>.custom-checkbox {
    background-color: #404bbf;
    border-radius: 2px;
    fill: #ffffff;
    border: 1px solid #404bbf;
}

.privacy-link {
    color: #4d5ae5;
    text-decoration: underline;
}